<h1>Questions</h1>

<% @questions.each do |question| %>
  <div id="questions-container">
      <%= render question %>
  </div>
<% end %>

<%= link_to "New Question", new_question_path, remote: true, id: 'new-question-link' %>
