<h1>Questions</h1>

<ul>
  <% @questions.each do |question| %>
  <li><%= question.text %></li>
    <% question.answers.each do |answer| %>
      <p><%= answer.answer %> | Tally: <%= answer.vote %><p>
    <% end %>
  <% end %>
</ul>
