  <div class='col-xs-6'>
    <div id="answer_<%= answer.id %>">
      <p><%= answer.answer %> <%= button_to "Vote", question_answer_path(answer.question, answer, :upVoteAction => 'upvote'), :method => 'patch', remote: true %> Tally:<span class="vote-count"><%= answer.vote %></span> <p>
    </div>
  </div>
